@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: url('../font/raleway-thin-webfont.woff') format('woff'), url('../font/raleway-thin-webfont.woff2') format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../font/raleway-regular-webfont.woff') format('woff'), url('../font/raleway-regular-webfont.woff2') format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../font/raleway-bold-webfont.woff') format('woff'), url('../font/raleway-bold-webfont.woff2') format('woff');
}
