extends ./layout/base.jade

block append content
    .container.text-center
        section#header
            h1 Mathias Schilling
                span Another paper cut survivor
        section#about
            h2 OMG
            p
                | Hey! I'm social, you can find me <a href="http://www.linkedin.com/in/mathiasschilling">here</a>, <a href="https://twitter.com/MatChilling">here</a>, <a href="https://github.com/matchilling">here</a> and <a href="http://www.last.fm/user/msatlastfm">there</a>.
            p
                | 99% of the time my brain is thinking blah, meh, why, huh, WTF, food and computers. The other 1% I’m usually asleep.
            p
                | I'm a software engineer and computer science student at the <a href="http://www.dcs.bbk.ac.uk/">Department of Computer Science and Information Systems</a> at <a href="http://www.bbk.ac.uk/">Birkbeck, University of London</a>.
        section#pgp
            h2 Contact
            code.pgp !{locals.author.pgp.replace(/\n/g, '<br />')}
